asgiref==3.2.7
branca==0.4.0
certifi==2020.4.5.1
chardet==3.0.4
cycler==0.10.0
dj-database-url==0.5.0
Django==3.0.3
django-debug-toolbar==2.2
folium==0.10.1
get==2019.4.13
gunicorn==20.0.4
idna==2.9
Jinja2==2.11.2
kiwisolver==1.2.0
MarkupSafe==1.1.1
matplotlib==3.2.1
numpy==1.18.4
post==2019.4.13
protobuf==3.11.3
psycopg2==2.8.5
public==2019.4.13
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2020.1
query-string==2019.4.13
requests==2.23.0
six==1.14.0
sqlparse==0.3.1
urllib3==1.25.9
wincertstore==0.2