<!DOCTYPE html>
<html lang="fr">
  <head>
    {% load static %}

    <meta charset="UTF-8" />
    <link
      rel="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/styles.css' %}"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <title>MON SITE</title>

    {%block stylesheet%}{%endblock%}
  </head>

  <body>
    {% include 'layouts/nav.html' %} {%block content%} {%endblock%} {% include
    'layouts/footer.html' %}
  </body>
</html>
