body{
    font-family: Helvetica;
    background-color:#fefefe
}

*{
    margin: 0;
    padding: 0;

}

.navbar  {
    background-color: black;
    padding: 1em 0;

}

.Site_Name{
    font-size:2em;
    text-decoration: none;
    color: #fefefe;
}


.onglets{
    float: right;
}
.onglets a {
    text-decoration: none;
    color: #fefefe;
    
}

.onglets li {
    display: inline-block;
    margin-right: 0.5em;
    margin-top: 0.5em;
}

.wrapp {
    width: 95%;
    height: 95%;
    margin:auto;
    
}






footer{
     text-align: center;
     margin:2em auto;
     color:rgb(0,0,0,0.65);

}

footer::before{
    content: '';
    display: block;
    height: 0.1em;
    background-color:black;
    width:40em;
    margin: 0.5em auto;
}

.imgDjango{

    width: 60%;
    height:60%;
    margin-top: 2em;
}

.Name{

    text-align: center;
    padding-top: 0.3em;
}

.content{
    text-align: center;
    margin-top: 2em;
}